@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.merriweather-<uniquifier> {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
}


/* Shared Style */
main {
    width: 82.5%;
    max-width: 1440px;
    margin: 0 auto;
}


button {
    font-weight: 700;
    border: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    transition: all 1s;

}

button:hover {
    background-color: rgb(75, 47, 12);
    text-transform: uppercase;
}

/* header style */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/banner-img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    border-radius: 10px;
    margin: 20px 0 120px 0;


}

.banner .banner-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 632px;
    height: 246px;
    text-align: center;
    color: #fff;
}

.banner .banner-text h1 {
    font-weight: 900;
    font-size: 75px;
    line-height: 80px;
    color: #FFFFFF;
}

.banner .banner-text p {
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
}

/* Discount Setion Style */
.discount-container {
    width: 41.80%;
    max-width: 802.5px;
    margin: 0 auto 120px;
    text-align: center;
}

.discount-container h1 {
    font-weight: 700;
    font-size: 88px;
    line-height: 106px;
    color: #FF0000;
}

.discount-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.discount-container .discount-details .discount-text p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FF0000;
    margin: 0;
    padding: 0;
}

.discount-container .discount-details .discount-text h4 {
    font-weight: 700;
    font-size: 48px;
    color: #070211;
}

/* party section style */
.party {
    background-image: url('../images/Vectorrr.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 8px;
    height: 540px;
    padding: 60px 100px;
    margin: 0 auto 120px;

}

.party-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.party .party-container .party-text h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 0.11em;
    color: #FFFFFF;
}

.party .party-container .party-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
}


/* Shedule Style */
.shedule {
    height: 282px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
     padding: 100px 350px 100px 300px; 
    margin: 0 auto 120px;
    
}

.shedule .shedule-info {
    width: 549px;
    height: 275px;
    text-align: center;
    margin: 0;
}

.shedule .shedule-info p {
    font-weight: 600;
    font-size: 32px;
    line-height: 56px;
    margin: 5px;
    color: #070211;
}

span {
    color: #FF0000;
}

.shedule .shedule-info button {
    background-color: #FF0000;
}

/* offer styles */
.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 463px;
    gap: 20px;
    margin: 0 auto 120px;
}

.offer .offer-text {
    max-width: 393px;
}

.offer .offer-text h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FF0000;
    margin: 0;
}

.offer .offer-text h4 {
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;
    color: #070211;
    margin: 16px auto 22px auto;
}

.offer .offer-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
}

.offer .offer-celebrate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 10px solid red;

}

.offer .offer-celebrate img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.offer .offer-img {
    max-width: 256px;
}

.offer .offer-img h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FF0000;
    margin: 0;
}

.offer .offer-img p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
}

/* Holidays Style */
.holydays {
    height: 986.07;
    margin: 0 auto 120px;
}

.holydays .holydays-text {
    width: 1068px;
    height: 260px;
    margin: 0 0 26px 0;

}

.holydays .holydays-text h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #070211;
    text-align: center;
}

.holydays .holydays-text h1 {
    font-weight: 900;
    font-size: 72px;
    line-height: 91px;
    color: #070211;
    text-align: center;
    margin: 16px 0 28px 0;
}

.holydays .holydays-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    margin-bottom: 64px;

}

.holydays .holydays-img {
    background-image: url('../images/Rectangle2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 229px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.holydays .holydays-img .holydays-img-one {
    width: 50%;
    height: 662.07px;
    margin: 0;
}

.holydays .holydays-img .holydays-img-one img {
    width: 100%;
    height: 577.96px;
    margin: 0;
    /* opacity: .5; */
}

.holydays .holydays-img .holydays-img-two {
    width: 50%;
    height: 433px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.holydays .holydays-img .holydays-img-two img {
    width: 80%;
    margin: 0%;
}

.holydays .holydays-img .holydays-img-two .img1 {
    width: 50%;
    margin: -150px;
    z-index: 1;
    align-self: center;
}